@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.menu-component{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 2vh 0;
    font-weight: bold;
}